{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8"/>
  <title>{%block title%}{% trans "Chat Rooms" %}{%endblock%}</title>
</head>
<body>
{%trans "Welcome, "%} {{user.show_name}}! <a href="{% url 'logout' %}"> Logout</a>
<br/>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading top-bar">
          <div class="col-md-8 col-xs-8">
            <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Rooms</h3>
          </div>
        </div>
        <table class="table">
          <tbody>
          <tr><td colspan="2">{% trans "New Chat Room?" %}</td></tr>
          <tr>
            <td><input id="room-name-input" type="text"/></td>
            <td><input id="room-name-submit" type="button" value="Enter"/></td>
          </tr>
          {% for room_obj in rooms %}
          <tr {%if room_obj.id == room.id %}class="table-primary"{%endif%}>
            <td><a href="{% url "room" room_id=room_obj.id%}">{{ room_obj.name }}</a></td>
            <td>{{ room_obj.count_messages }} {% if room_obj.count_messages == 1 %}{%trans "message" %}{%else%}{%trans "messages" %}{%endif%}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    {%block content%}
    {%endblock%}
  </div>
</div>
  <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.href = window.location.origin + '/chat?new=' + roomName ;
        };

  </script>
</body>
</html>